<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TACO_Nutricional</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/limonte-sweetalert2/sweetalert2.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-success-dark border-bottom box-shadow mb-1">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="ComposicaoAlimentos" asp-action="Index">
                    <img src="~/img/logo_taco_f.png" width="150" class="d-inline-block align-top" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse ml-4">

                    <form class="form-inline ml-4" asp-controller="ComposicaoAlimentos" asp-action="PesquisarAlimento">
                        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar Alimento" aria-label="Search" name="nome" required>
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                    </form>

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item mr-4">
                            <a class="nav-link text-white" asp-area="" asp-controller="ComposicaoAlimentos" asp-action="Index">Alimentos</a>
                        </li>
                        <li class="nav-item mr-4">
                            <a class="nav-link text-white" asp-area="" asp-controller="ComposicaoAlimentos" asp-action="CadastrarAlimento">Cadastrar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="ComposicaoAlimentos" asp-action="MontarRefeicao">Montar Refeição</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid mb-5">          
           <img src="~/img/alimentos_lg.jpg" class="img-fluid" />           
        </div>
    </header>

       
       
       
    


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    @*Modal*@
    <div class="modal" tabindex="-1" role="dialog" id="form-modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title"></h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>


    <footer class="bg-dark">
        <div class="container">
            <div class="row text-white">
                <div class="col-6 text-center align-text-bottom">
                    <i class="fab fa-phoenix-framework fa-10x text-primary"></i>
                    <h2 >Desenvolvidor por</h2>
                    <p class="display-4 text-primary">Marcos Aurélio</p>
                </div>
                <div class="col-3">
                    <p>
                        <h4>What is Lorem Ipsum?</h4>
                    </p>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    </p>
                </div>
                <div class="col-3">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. 
                </div>
            </div>
        </div>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/lib/limonte-sweetalert2/sweetalert2.all.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
