@model TACO_Nutricional.Models.Entidades.Alimento

@{
    ViewData["Title"] = "CadastrarAlimento";
}

<h1>Cadastrar Alimento</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CadastrarAlimento">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Umidade" class="control-label"></label>
                <input asp-for="Umidade" class="form-control" />
                <span asp-validation-for="Umidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Caloria" class="control-label"></label>
                <input asp-for="Caloria" class="form-control" />
                <span asp-validation-for="Caloria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proteina" class="control-label"></label>
                <input asp-for="Proteina" class="form-control" />
                <span asp-validation-for="Proteina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lipideos" class="control-label"></label>
                <input asp-for="Lipideos" class="form-control" />
                <span asp-validation-for="Lipideos" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Carboidrato" class="control-label"></label>
                <input asp-for="Carboidrato" class="form-control" />
                <span asp-validation-for="Carboidrato" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="GrupoAlimentarId" class="control-label"></label>
                <input asp-for="GrupoAlimentarId" class="form-control" />
                <span asp-validation-for="GrupoAlimentarId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PorcaoParaMontarREfeicao" class="control-label"></label>
                <input asp-for="PorcaoParaMontarREfeicao" class="form-control" />
                <span asp-validation-for="PorcaoParaMontarREfeicao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

