@model TACO_Nutricional.Models.ViewModels.ItemRefeicaoVM

@{
    ViewData["Title"] = "CadastrarAlimento";
}

<h1>Cadastrar Alimento</h1>

<hr />

    
<form asp-action="CadastrarAlimento" onsubmit="return ajaxPostCAdastrarAlimento(this)">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="alert alert-warning" role="alert">
        <strong>Atenção: </strong> Cadastre os valores correspondentes a 100 gramas do alimento.
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="NomeAlimento" class="control-label"></label>
                <input asp-for="NomeAlimento" class="form-control" required />
                <span asp-validation-for="NomeAlimento" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Calorias" class="control-label"></label>
                <input asp-for="Calorias" class="form-control" max="1000" type="number" required />
                <span asp-validation-for="Calorias" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Proteina" class="control-label"></label>
                <input asp-for="Proteina" class="form-control" max="100" type="number" required />
                <span asp-validation-for="Proteina" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Lipideos" class="control-label"></label>
                <input asp-for="Lipideos" class="form-control" max="100" required type="number" />
                <span asp-validation-for="Lipideos" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Carboidrato" class="control-label"></label>
                <input asp-for="Carboidrato" class="form-control" max="100" type="number" required />
                <span asp-validation-for="Carboidrato" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="GrupoAlimentarId" class="control-label"></label>
                <select asp-for="GrupoAlimentarId" asp-items="Model.GruposAlimentaresDD" class="form-control" required>
                    <option value=""> Selecionse o Grupo Alimentar </option>
                </select>
                <span asp-validation-for="GrupoAlimentarId" class="text-danger"></span>
            </div>
        </div>
    </div>


    <hr />


    <div class="form-group">
        <button class="btn btn-success" type="submit"> <i class="fas fa-save"></i> Salvar</button>
        <a asp-action="Index" class="btn btn-warning">Cancelar</a>
    </div>
</form>
    




