@model TACO_Nutricional.Models.ViewModels.ItemRefeicaoVM




<form class="" asp-controller="ComposicaoAlimentos" asp-action="EditarPorcaoItem" onsubmit="return ajaxEditarItemRefeição(this)" ;>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <input asp-for="NomeAlimento" disabled class=" select-alimentos" required name="id" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input asp-for="PorcaoNoPrato" class="form-control" type="number" placeholder="Porção(gr)" aria-label="Porção(gr)" name="PorcaoNoPrato" required>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <button class="btn btn-success" type="submit"> <i class="fas fa-save"></i> Salvar</button>
            </div>
        </div>
    </div>

   

</form>